# Local .terraform directories 
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.log.*

# Sensitive variables files
*.tfvars
*.tfvars.json

# Ignore plan files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

#Analyzer Code
./yahooHockeyAnalyzer/src/*